<app-layout>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav role="navigation" fxLayout="column">
      <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <!--in here all the content must reside. We will add a navigation header as well-->
        <main>
          Main Content
          <router-outlet></router-outlet>
        </main>  
      </mat-sidenav-content> 
  </mat-sidenav-container>
</app-layout>
